


@media screen and (max-width: 425px) {
    

    #bars {
        font-size: 2rem;
        display: flex;
        margin-left: 24rem;
        padding-top: 1rem;
    }

    .two h1 {
        font-size: 1.5rem;
    }

    .two p {
        font-size: 1rem;
    }

    .hero2 {
        display: none;
    }

    .one, .three {
        display: none;
    }

    .eight h2 {
        font-size: 1.5rem;
    }

    .eight p {
        font-size: 1rem;
    }

    #empty {
        width: 22rem;
    }

    .hero3 {
        height: 75rem;
    }

    .hero4 {
        height: 90rem;
    }

    .ten h3 {
        font-size: 1.8rem;
        padding-left: 1rem;
    }

    #empty2 {
        width: 20rem;
    }

    #read {
        padding: 1rem 1rem;
        margin-left: 1rem;
    }

    #empty3 {
        width: 20rem;
    }

    .flexbox7 {
        justify-content: center;
        align-items: center;
    }

    .big-image img{
        width: 15rem;
    }

    .hero10 h3 {
        font-size: 2rem;
    }

    .hero11 img {
        width: 17rem;
    }

    .twelve img{
        width: 20rem;
    }

    .twelve {
        margin-top: 4rem;
    }

    #empty4 {
        width: 18rem;
    }

    .thirteen h3 {
        font-size: 1.5rem;
    }

    #short2 {
        width: 15rem;
    }

    .hero10 img{
        width: 17rem;
    }

    .hero13 img {
        width: 15rem;
    }

    .explore h3 {
        font-size: 2rem;
    }

    .explore p{
        margin-right: 0;
        text-align: center;
    }

    #campus {
        width: 17rem;
    }

    .sample img {
        width: 10rem;
    }

    .sample2 img {
        width: 10rem;
    }

    .sample h3 {
        font-size: 1.5rem;
    }

    .sample2 h3 {
        font-size: 1.5rem;
    }

    .intro1 {
        width: 15rem;
        height: 33rem;
    }

    .intro1 img {
        width: 15rem;
    }

    .intro2 {
        width: 15rem;
        height: 33rem;
    }

    #notice {
        width: 15rem;
    }

    #post {
        width: 15rem;
    }

    .intro3 {
        width: 15rem;
        height: 35rem;
    }

    #see {
        padding: 1rem 2rem;
    }

    .intro-text h3 {
        font-size: 1rem;
    }

    .flex-container2 {
        margin-left: 1.5rem;
    }

    .hero10 h3 {
        font-size: 1.5rem;
    }

    .hero15 {
        height: 15rem;
    }

    .flexbox14 {
        flex-direction: column;
        margin-left: 1rem;
    }

    .hero18 img {
        width: 17rem;
    }

    .hero19 {
        height: 40rem;
    }

    .flexbox15 {
        flex-direction: column;
        margin-left: 1rem;
    }

    .links {
        padding-top: 0;
    }

    .last p{
        padding-right: 7rem;
    }

    footer {
        height: 75rem;
    }
}


@media screen and (max-width: 375px) {
    
    #bars {
        margin-left: 20rem;
    }

    .two p {
        padding: 0 2rem;
    }

    #read {
        padding: 1rem 0.5rem;
        margin-left: 1rem;
    }

    .sub-heading h3{
        font-size: 2rem;
    }

    .sub-heading p{
        padding: 0 1rem;
        text-align: center;
    }

    .sub-heading2 p {
        padding: 0 1rem;
        text-align: center;
    }

    .hero9 {
        height: 50rem;
    }

    .hero10 h3 {
        padding-left: 5rem;
    }

     .flexbox6 {
        padding-top: 3rem;
    }
    
    .para  {
        margin-right: 0;
        margin-left: 1rem;
    }

    footer {
        height: 80rem;
    }

    
}



@media screen and (max-width: 320px) {
    

    .nav-links {
        width: 100%;
    }

    #bars {
        margin-left: 15rem;
    }

    header {
        height: 70vh;
    }

    .eight h2 {
        font-size: 1rem;
    }

    #empty {
        width: 8rem;
    }

    .twelve img {
        width: 10rem;
    }

    .hero3 {
        height: 80rem;
    }

    #read {
        padding: 1rem 0.3rem;
        font-size: 0.8rem;
        margin-right: 0;
    }

    .flexbox6 {
        margin-top: 2rem;
    }

    .sub-heading2 h3 {
        font-size: 1.5rem;
    }

    .sub-heading2 p {
        padding: 0 1rem;
        text-align: center;
    }

    .sub-heading2 {
        margin: 0;
    }

    .hero9 {
        height: 50rem;
    }

    .hero10 h3 {
        font-size: 1.2rem;
        margin: 0;
        margin-left: -3rem;
    }

    .hero15 {
        height: 13rem;
    }

    .para a {
        font-size: 0.6rem;
    }

    footer {
        height: 80rem;
    }
}

